<div class="container" [appBlackbackground]="portofolioStatus === 'checked'">
  <app-main-top class="topmainbox" [appBlackbackground]="portofolioStatus === 'checked'" [title]="title" #maintop>
  </app-main-top>
  <div class="marketcontainer" [appBlackbackground]="portofolioStatus === 'checked'">
    <div>
      <p>Atlanta</p>
      <div class="imageContainer" style="width: 286px">
        <img alt="img" src="\assets\First.png" />
      </div>
    </div>
    <div>
      <p>Georgia</p>
      <div class="imageContainer" style="width: 286px">
        <img alt="img" src="\assets\Second.png" />
      </div>
    </div>
    <div>
      <p>National</p>
      <div class="imageContainer" style="width: 286px">
        <img alt="img" src="\assets\Second.png" />
      </div>
    </div>
  </div>
</div>
