.sidelist {
    list-style-type: none;
    position: fixed;
    padding-top: 15px;
    padding-left: 0;
    width: 231px;
}

.sidelist li {
    padding: 15px;
    width: 100%;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #fff;
}

.sidelist li:nth-child(1) {
    font-size: 18px;
    height: 60px;
}

.sidelist li:not(:first-child):hover {
    background-color: #1e3b65;
    border-left: #2ecc71 solid 8px;
}

.active {
    background-color: #1e3b65;
    border-left: #2ecc71 solid 8px;
}