#gsearch {
  height: 33px;
  border: 1px solid #dbe2e5;
  width: 210px;
  padding: 9px 4px 9px 40px;
  color: #172b4d;
  margin-top:4px;
}

.searchicon {
  color: black;
  position: relative;
  right: 200px;
  top: 3px;
  font-size: 20px;
}

.search {
  display: block;
  padding: 10px;
}
