<div class="grid-container">
  <app-header
    class="header"
    [appBlackbackground]="portfolioHeader.darkmodecheckbox === 'checked'"
    [isdarkmodechecked]="portfolioHeader.darkmodecheckbox"
  ></app-header>
  <app-sidebar class="sidebar"></app-sidebar>
  <div
    class="portfolioHeader"
    [appBlackbackground]="portfolioHeader.darkmodecheckbox === 'checked'"
  >
    <app-portfolio-header #portfolioHeader></app-portfolio-header>
  </div>
  <div class="mainbox">
    <!-- <app-trends [portofolioStatus]="portfolioHeader.darkmodecheckbox"></app-trends>
  <app-employment></app-employment> -->
    <router-outlet></router-outlet>
  </div>
</div>
