.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar portfolioHeader"
    "sidebar mainbox";
  grid-template-rows: 9% 20% 85%;
  grid-template-columns: 17% 83%;
}

.header {
  grid-area: header;
  color: white;
  background-color: #fff;
  box-shadow: 3px 3px 10px grey;
  z-index: 3;
  position: fixed;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: #172b4d;
  color: white;
  font-size: 13px;
  border-right: #dbe2e5 2px solid;
}

.portfolioHeader {
  grid-area: portfolioHeader;
  background-color: #fff;
}

.mainbox {
  grid-area: mainbox;
  padding: 20px;
}

.blackbackground {
  background-color: #172b4d;
  color: white;
}