table {
  height: 100%;
  border-collapse: collapse;
}

td {
  border: 0.5px solid #dbe2e5;
  height: 10%;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #fff;
  border: 0.5px solid #dbe2e5;
  height: 120px;
  width: 25%;
}

td:first-child {
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
}

.data p:first-child {
  margin-right: 12px;
  color: #7f91b1;
  width: 70%;
  text-align: right;
}

.data p:last-child {
  width: 30%;
}

.units {
  font-size: 12px;
  color: #7f91b1;
  margin-top: 10px;
}

#rowhover:hover {
  background-color: #e6f7ff;
  color: #329dff;
}

.selected_row {
  background-color: #e6f7ff;
  color: #329dff;
}
.tableHead{
  position:sticky;
  top:0;
}
.blackbackground {
  background-color: #172b4d;
  color: white;
}
