<div class="filterdiv">
  <div class="selectbox">
    <label>MSA</label>
    <select name="msa" id="msa">
      <option value="A">Atlanta, GA</option>
      <option value="test">Test</option>
    </select>
  </div>
  <div class="selectbox">
    <label>Submarket</label>
    <select name="submarket" id="submarket">
      <option value="Submarkets">All Submarkets</option>
      <option value="test">Test</option>
    </select>
  </div>
  <div class="selectbox">
    <label>Date Range</label>
    <select name="daterange" id="daterange">
      <option value="12months">Last 12 Months</option>
      <option value="test">Test</option>
    </select>
  </div>
</div>
